<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ifeng.computing.orm.mybatis.mapper.IDataFactoryMapper">


	<insert id="createEventLog" parameterType="eventLogData" >
	
		INSERT INTO computing-platform.t_event_log_data (
		  ID,
		  USER_ID,
		  ITEM_ID,
		  TYPE,
		  TIME,
		  VERSION
		) 
		VALUES
		  (
		    #{id},
		    #{userId},
		    #{itemId},
		    #{type},
		    #{time},
		    #{version}
		  ) ;
		
	</insert>
	
	
	<!-- 
		_page: the page number TO be READ (STARTING AT 0)
		_pagesize: the size of the pages, i.e. the number of ROWS TO RETURN
		_skiprows: the data of _page AND _pagesize
	 -->
	<select id="readEventLog">
		SELECT 
		  ID,
		  USER_ID,
		  ITEM_ID,
		  TYPE,
		  TIME,
		  VERSION 
		FROM
		  T_EVENT_LOG_DATA 
		LIMIT #{_skiprows}, #{_pagesize}
	
	</select>
	
	<select id="readLogData" resultType="logData" parameterType="map">
		SELECT 
			P_ID as pId, USER_ID as userId, TIME as time 
		FROM 
			t_push_log_data 
		LIMIT 
			#{start}, #{limit}

	</select>

	<select id="readNewsByUserId" resultType="newsItem" parameterType="map">
		SELECT 
		  n.ID as id,
		  n.ITEM_ID as itemId,
		  n.SIM_SCORE as simScore,
		  n.HOT_LEVEL as hotLevel,
		  n.CATEGORY as category,
		  n.P_ID as pId
		FROM
		  t_news_item n
		  
		WHERE n.ID % #{pId} = 0
		
		LIMIT #{start}, #{limit}
	</select>

</mapper>